*{
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* 모든 section을 한 화면(100vh)씩 보여주기 */
section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 2. 무한 캐러셀 멘트 */
.header-intro {
    font-size: 35px;
}

.header {
    margin: 50px;
}

/* 2. 무한 캐러셀 */
.wrapper {
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
    position: relative;
    height: 250px;
    margin-top: 5rem;
    overflow: hidden;
}

@keyframes scrollLeft {
    to {
        left: -500px;
    }
}

.item {
    width: 450px;
    height: 250px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    left: max(calc(450px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(40s / 8 * (8 - 1) * -1);
}
.item2 {
    animation-delay: calc(40s / 8 * (8 - 2) * -1);
}
.item3 {
    animation-delay: calc(40s / 8 * (8 - 3) * -1);
}
.item4 {
    animation-delay: calc(40s / 8 * (8 - 4) * -1);
}
.item5 {
    animation-delay: calc(40s / 8 * (8 - 5) * -1);
}
.item6 {
    animation-delay: calc(40s / 8 * (8 - 6) * -1);
}
.item7 {
    animation-delay: calc(40s / 8 * (8 - 7) * -1);
}
.item8 {
    animation-delay: calc(40s / 8 * (8 - 8) * -1);
}


/* 1. 메인 */

.main {
    width: 100vw;
    margin: 5rem auto;
    text-align: center;
    color: black;
}

.scroll-text-wrap {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.scroll-text{
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #979A9F;
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.scroll-text.show {
    opacity: 1;
    transform: translateY(0);
}

.one_text, .two_text {
    position: relative;
    font-size: 60px;
    font-weight: 600;
}

.two_text{
    color: #ec8201;
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.two_text:before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:white;
    border-left: 2px solid #ab3a2c;
    animation: animate 7s steps(21) infinite;
}

@keyframes animate {
    40%, 60% {
        left: calc(100% + 1px);
    }

    100% {
        left: 0;
    }
}


/* 3. 스크롤 애니메이션 구간 */
.blue {
    --clr: #4285f4;
}

.red {
    --clr: #DB4437;
}

.yellow {
    --clr: #F4B400;
}

.green{
    --clr: #0F9D58;
}

.section.bg-fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;

    min-height: 150vh;
    padding-top: 100px;
}

.box{
    background-color: var(--clr);
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    height: 350px;

    margin: 60px auto;
    border-radius: 25px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 1s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}

/* 푸터 */
.footer {
    background: #2f3640;
    text-align: center;
    font-size: 13px;
    padding: 70px 0 90px;
    margin-top: 60px;
    color: #bbb;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top {
    margin-bottom: 15px;
}

.footer-logo {
    display: block;
    height: 28px;
    margin: 0 auto;
}

.footer-info p {
    margin: 4px 0;
    line-height: 1.6;
    color: #bbb;
}

